node_modules
.next/build-manifest.json
.next/package.json
.next/react-loadable-manifest.json
.next/trace
.next/cache/.tsbuildinfo
.next/cache/next-server.js.nft.json
.next/cache/webpack/client-development/0.pack
.next/cache/webpack/client-development/1.pack
.next/cache/webpack/client-development/index.pack
.next/cache/webpack/client-development/index.pack.old
.next/cache/webpack/client-production/0.pack
.next/cache/webpack/client-production/index.pack
.next/cache/webpack/server-development/0.pack
.next/cache/webpack/server-development/1.pack
.next/cache/webpack/server-development/index.pack
.next/cache/webpack/server-development/index.pack.old
.next/cache/webpack/server-production/0.pack
.next/cache/webpack/server-production/index.pack
.next/server/middleware-build-manifest.js
.next/server/middleware-manifest.json
.next/server/middleware-react-loadable-manifest.js
.next/server/next-font-manifest.js
.next/server/next-font-manifest.json
.next/server/pages-manifest.json
.next/server/webpack-runtime.js
.next/server/pages/_app.js
.next/server/pages/_document.js
.next/server/pages/_error.js
.next/server/pages/index.js
.next/static/chunks/amp.js
.next/static/chunks/main.js
.next/static/chunks/polyfills.js
.next/static/chunks/react-refresh.js
.next/static/chunks/webpack.js
.next/static/chunks/pages/_app.js
.next/static/chunks/pages/_error.js
.next/static/chunks/pages/index.js
.next/static/development/_buildManifest.js
.next/static/development/_ssgManifest.js
.next/static/webpack/6f38860560ef8339.webpack.hot-update.json
.next/static/webpack/7b4f4fe026d3284f.webpack.hot-update.json
.next/static/webpack/bcc76adc3f210608.webpack.hot-update.json
.next/static/webpack/webpack.6f38860560ef8339.hot-update.js
.next/static/webpack/webpack.7b4f4fe026d3284f.hot-update.js
.next/static/webpack/webpack.bcc76adc3f210608.hot-update.js
.next/static/webpack/pages/index.6f38860560ef8339.hot-update.js
.next/static/webpack/pages/index.bcc76adc3f210608.hot-update.js
